@font-face {
  font-family: "Burbank Big Condensed Black";
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/burbankbigcondensed_black.otf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/HELVETICA_BOLD.OTF");
  font-weight: 600;
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/HELVETICA_REGULAR.OTF");
  font-weight: 400;
}
